# GEE Credentials
GEE_PROJECT=your-gee-project
GEE_BUCKET=your-gee-bucket-name
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/service-account-file.json

# AWS Credentials
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_REGION=your-aws-region
AWS_S3_BUCKET=your-aws-s3-bucket-name

# Local Storage
LOCAL_DATA_DIR=./data

# eoapi Database Credentials
DB_HOST=your-db-host
DB_PORT=5432
DB_NAME=your-db-name
DB_USER=your-db-user
DB_PASSWORD=your-db-password
